# Created by https://www.toptal.com/developers/gitignore/api/eclipse,java
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,java

### Java 소스 외의 폴더 ###
Servers
RemoteSystemsTempFiles

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.cache-main
.worksheet

# Typically, this file would be tracked if it contains build/dependency configurations:

# Spring Boot Tooling

*.class

.mtj.tmp/
# Package Files #
*.war
*.nar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
# End of https://www.toptal.com/developers/gitignore/api/eclipse,java
*.ear
*.jar

# Mobile Tools for Java (J2ME)


*.ctxt
# BlueJ files
*.log
# Log file
# Compiled class file
### Java ###
.sts4-cache/
### Eclipse Patch ###
#.project
# Uncomment this line if you wish to ignore the project description file.
.scala_dependencies
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)

